
.resultado: label{
	font-family: 'Bungee', cursive;
	color: black;	
	margin-left: 550px;}

.resultado: input{
	color: green;
}

header{
height: 100px;
	background-image: url('../calculadora.PNG');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
